extends ./layouts/layout.pug

block body
    div.layui-col-col-md12
        form.layui-form(action="", method="post")
            .layui-form-item
                label.layui-form-item(for="")
                .layui-input-block
                    input.layui-input(type="text", name="username")
            .layui-form-item
                label.layui-form-item(for="")
                .layui-input-block
                    input.layui-input(type="text", name="username")
            .layui-form-item
                input.layui-btn(type="button", value="登录")