.kl-kelvin {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.kl-kelvin .kl-body {
  flex: 1 0 auto;
  display: flex;
}
.kl-body-user {
  flex: 0 0 280rem;
  display: flex;
  flex-direction: column;
  background-color: #E2E2E2;
  height: 100%;
  user-select: none;
}
.kl-body-user .user-brief-bgcolor {
  background-color: #c2c2c2 !important;
}
.kl-body-user .header {
  flex: 0 0 60rem;
  background-color: #393D49;
  -webkit-app-region: drag;
}
.kl-body-user .header .header-user {
  height: 100%;
  padding: 15rem 0 15rem 20rem;
  display: flex;
}
.kl-body-user .header .header-user .user-avatar {
  flex: 0 0 60rem;
  height: 100%;
}
.kl-body-user .header .header-user .user-avatar img {
  width: 100%;
  border-radius: 100%;
}
.kl-body-user .header .header-user .user-info {
  flex: 1 0 auto;
  padding-left: 15rem;
  display: flex;
  align-items: center;
}
.kl-body-user .header .header-user .user-info .info-name {
  color: #FFFFFF;
  font-size: 20rem;
}
.kl-body-user .content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.kl-body-user .content .content-box {
  flex: 1 0 auto;
  height: 100rem;
}
.kl-body-user .content .content-box ul {
  height: 100%;
  overflow-y: scroll;
}
.kl-body-user .content .content-box ul li.user-brief {
  height: 45rem;
  padding: 10rem 10rem;
  display: flex;
}
.kl-body-user .content .content-box ul li.user-brief .user-avatar {
  height: 100%;
  flex: 0 0 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kl-body-user .content .content-box ul li.user-brief .user-avatar img {
  width: 100%;
}
.kl-body-user .content .content-box ul li.user-brief .user-info {
  flex: 1 0 auto;
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  font-size: 12rem;
  color: #999;
}
.kl-body-user .content .content-box ul li.user-brief .user-info .info-title {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kl-body-user .content .content-box ul li.user-brief .user-info .info-title .title-name {
  font-size: 16rem;
  color: black;
}
.kl-body-user .content .content-box ul li.user-brief .user-info .info-msg {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kl-body-user .content .content-box ul li.user-brief:hover {
  background-color: #d2d2d2;
}
.kl-body-user .content .content-box ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.kl-body-user .content .content-box ul::-webkit-scrollbar-track {
  border-radius: 999px;
  border: 6px solid #E2E2E2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}
.kl-body-user .content .content-box ul::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 6px solid #c2c2c2;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
.kl-body-user .content .content-box ul::-webkit-scrollbar-corner {
  background: transparent;
}
.kl-body-msg {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  height: 100%;
}
.kl-body-msg .header {
  flex: 0 0 27rem;
}
.kl-body-msg .header .header-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.kl-body-msg .header .header-menu .menu-right {
  display: flex;
  justify-content: flex-end;
}
.kl-body-msg .content {
  flex: 1 0 auto;
}
.kl-body-msg .content .msg-chatroom {
  height: 100%;
  display: none;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-title {
  flex: 0 0 35rem;
  padding-left: 30rem;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-title .title-name {
  font-size: 18rem;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg {
  flex: 1 0 auto;
  height: 100rem;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word {
  height: 100%;
  padding: 0 10rem 0 30rem;
  overflow-y: scroll;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail {
  margin-top: 10rem;
  margin-bottom: 14rem;
  display: flex;
  justify-content: flex-start;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail .msg-detail-avatar {
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail .msg-detail-avatar img {
  width: 100%;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail .msg-detail-info {
  margin-left: 15rem;
  display: flex;
  flex-direction: column;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail .msg-detail-info .info-title {
  font-size: 12rem;
  color: #c2c2c2;
  margin-bottom: 4rem;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail .msg-detail-info .info-title .time {
  margin-left: 10rem;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail .msg-detail-info .info-content {
  display: flex;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail .msg-detail-info .info-content .word {
  font-size: 14rem;
  color: #000;
  padding: 8rem 15rem;
  background-color: #c2c2c2;
  border-radius: 2px;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail.right {
  justify-content: flex-end;
  padding-right: 20rem;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail.right .msg-detail-avatar {
  order: 1;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail.right .msg-detail-info {
  order: 0;
  margin-left: 0;
  margin-right: 15rem;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail.right .msg-detail-info .info-content {
  justify-content: flex-end;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word .msg-detail.right .msg-detail-info .info-content .word {
  background-color: #5FB878;
  color: #FFFFFF;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word::-webkit-scrollbar-track {
  border-radius: 999px;
  border: 6px solid #F2F2F2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 6px solid #c2c2c2;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-msg .content-msg-word::-webkit-scrollbar-corner {
  background: transparent;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-edit {
  flex: 0 0 145rem;
  background-color: #FFFFFF;
  color: #000;
  display: flex;
  flex-direction: column;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-edit .content-edit-word {
  flex: 1 0 auto;
  padding: 15rem 20rem 15rem 30rem;
  height: 10rem;
  outline: none;
  overflow: hidden;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-edit .content-edit-submit {
  flex: 0 0 35rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 8rem;
  padding-right: 20rem;
}
.kl-body-msg .content .msg-chatroom .msg-chatroom-content .content-edit .content-edit-submit button {
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 14rem;
}
